#login{
    border:2px solid black;
    width: 500px;
    padding: 10px;
    background-color:lightgrey;
    margin: auto;
}
button {
    display: block;
}
p{
    display: block;
}

form div{
    padding: 10px;
}

label{
    display: inline-block;
    text-align: left;
    width: 100px;
}

input{
    width: 200px;
}

h1{
    font-size: 40px;
    font-style: bold;
    text-align: center;
    display: block;
}
h2 {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    display: block;
}
