h1{
    font-size: 30px;
    font-style: bold;
    text-align: center;
    display: block;
}
h2 {
    font-size: 20px;
    font-style: bold;
    text-align: center;
    display: block;
}
head {
	background-color:lightgrey;
}