<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='home.css') }}">
<head>
	<title>
		Home
	</title>
</head>
<body>
 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">FORM BUILDER</a>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('create') }}">Create forms</a>
              <a class="nav-item nav-link" href="{{ url_for('custom') }}">Custom Template</a>
              <a class="nav-item nav-link" href="{{ url_for('view') }}">View response</a>
              <a class="nav-item nav-link" href="{{ url_for('response') }}">Explore</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
</nav>
</header>
<br><br><br>
 {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p style="align-self: right;font-size: 25px">{{message}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% if cr %}
  {% if rsp %}
  {% if titl %}
  {% if cr == session['user'] %}
  <p style="font-size: 15px">New submission to <b>{{titl}}</b> by <b>{{rsp}}</b></p>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}

</body>
</html>